{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Cadastro</title>
		{% load static %}
    {% load i18n %}
    
    <link href="{% static 'cadastro/cadastro.css' %}" rel="stylesheet">
  </head>

  <body>
		<header>      
      <div class="left_area">
        <a style="text-decoration: none" href="{% url 'pages:home' %}"><h3> Compost<span>App</span></h3> </a>    
      </div>      
    </header>
    <div class="user-login">
			<h1 class="user-login_title">Fazer Cadastro</h1>
			<form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">{% trans "Cadastrar" %}</button>
    </form>

    </div>
    <script src="script.js"></script>
  </body>
</html>