<!DOCTYPE html>
<html lang="pt" dir="pt-BR">

<head>
	<meta charset="utf-8">
	<title>CompostApp</title>
	{% load static %}
	<link href="{% static 'home/homepage.css' %}" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
	
</head>

<body>

	<!-- <input type="checkbox" id="check" > -->
	<!-- Header -->
	<header>      
      <div class="left_area">
        <a style="text-decoration: none" href="{% url 'pages:home' %}"><h3> Compost<span>App</span></h3> </a>    
      </div>      
    </header>
	
    <!-- Fim do Header -->

    <!-- Barra lateral -->
    <div class="sidebar">
      <!-- Foto de Perfil -->
      
			{% if user.is_authenticated %}
			<a href="{% url 'pages:home' %}"><i class="fas fa-desktop"></i><span> Página Inicial</span></a>
      <a href="#"><i class="fas fa-recycle"></i><span> Composteira</span></a> 
      <a href="#"><i class="fas fa-user"></i><span>Perfil</span></a>
      <a href="#"><i class="fas fa-cogs"></i><span> Configurações</span></a> 
      <a href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt"></i><span> Sair</span></a>
			{%else%}
			<a href="{% url 'account_login' %}"><i class="fas fa-user"></i><span>Entrar</span></a>
      <a href="{% url 'account_signup' %}"><i class="fas fa-cogs"></i><span> Cadastrar</span></a> 
			{% endif %}       
    </div>
		
    <!-- Fim da Barra lateral -->    
    <div class="conteudo">
      <div class="cartao">
        <p><span>O que é Compostagem e Para que Serve?</span><br><br> 
        A compostagem é um processo natural de decomposição da matéria orgânica de origem animal ou vegetal. Na propriedade rural, a compostagem pode ser um processo de grande importância econômica, pois resíduos como esterco dos animais, palhas, folhas de árvores e outros resíduos orgânicos são reciclados, transformando-se em fertilizantes ou húmus.
        O processo de compostagem envolve transformações muito complexas de natureza biológica e química, promovidas por uma grande variedade de microrganismos como fungos e bactérias que vivem no solo. Esses organismos obtêm, a partir da degradação da matéria orgânica, o carbono e os demais nutrientes minerais, necessários para a sua sobrevivência. 
      </p>
      </div>
      <div class="cartao">
        <p><span>Benefícios da Compostagem</span><br><br>A compostagem serve para reciclar os restos de comida e residuos vegetais das casas, escolas, jardins ou hortas, que teriam como destino final o aterro sanitário ou pior, o lixão.</p>
      </div>
      <div class="cartao">
        <p><span>Como Fazer</span><br><br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </div>
    </div> 

  </body>
</html>